.wrapper.border,
.wrapper-half.border {
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

h2,
.products-list li.products-list-title {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

h2 {
  font-size: 12px;
  line-height: 16px;
}

.summary ul li,
.summary-total-cost {
  font-size: 14px;
  line-height: 17px;
}

.product h1 {
  font-size: 16px;
  line-height: 24px;
}

.summary-total-price {
  font-size: 20px;
  line-height: 25px;
}

h2 {
  color: #717285;
  letter-spacing: 0;
  font-weight: 300;
}

h2 + * {
  margin-top: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/img/background.png");
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  padding: 32px 0;
}

.wrapper-half {
  padding: 24px 0;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row + .row {
  margin-top: 32px;
}

[class*="col-"] {
  display: flex;
  align-items: center;
}

[class*="col-"]:nth-child(n + 2) {
  justify-content: center;
}

.col-product {
  width: 45%;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 15%;
}

.currency {
  margin-left: 4px;
}

